fastapi==0.95.0
uvicorn==0.21.1
httpx==0.24.0
python-dotenv==1.0.0
elasticsearch==7.17.9
elasticsearch-dsl==7.4.1
ElasticMock==1.8.1
streamlit==1.21.0
scipy==1.8.1
torch==1.13.0
torchvision==0.14.0
transformers==4.26.1
sentence-transformers==2.2.2
pytest==7.2.2
pytest-cov==4.0.0
pytest-mock==3.10.0
black==23.3.0
flake8==6.0.0
pre-commit==3.2.2
